@import url("reset.css");


/* eggshell: #f5f5f5
stormy greyple: #494E6b
Cloudy beige: #98878F
Sunset... mauve? #985E6D
Evening bluke: #192231 */

html{
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f5f5f5;
  font-family: 'Nunito', sans-serif;
}

@media screen and (min-width : 768px) {
  body {
    display: flex;
  }

  .left-div {
    width: 30%;
    height: 100%;
    position: fixed;
  }

  .right-div {
    margin-left:30%;
    width: 70%;
    height: 100%;
    overflow:auto;
  }

}
/* left div stuff */

.left-div {
  text-align: center;
  background-color: #494E6b;

}

.left-div p {
  color: white;
}

.name-div {
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
}

.name-div::after {
  content: "";
  position: inherit;
  display: block;
  margin-left: 25%;
  bottom: 0;
  width: 50%;
  height: 1px;
  border-bottom: 2px solid grey;
}

.left-div p {
  font-size: 20px;
}

.left-div p::after {
  content: "";
  position: inherit;
  display: block;
  margin-left: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
  bottom: 0;
  width: 50%;
  height: 1px;
  border-bottom: 2px solid grey;
}

#headshot {
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
}

/* section links*/

.sectionLinks {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.sectionLinks a {
  color: white;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-size: 20px;
}

.sectionLinks a::after {
  content: "";
  position: inherit;
  display: block;
  margin-left: 37.5%;
  bottom: 0;
  width: 25%;
  height: 1px;
  border-bottom: 2px solid grey;
}

/* resume stuff */


.resume-div {
  position: inherit;
  background-color: #192231;
  color: white;
  height: 4%;
  width: 30%;
  bottom: 0px;
}

.resume-div a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

@media screen and (max-width : 768px) {
  .resume-div {
    position: relative;
    width: 100%;
  }

}

/*right div stuff */

.right-div {
  background-image: url("../images/PP-Windows.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 10px;
}

.right-div > section {
    opacity: .9;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.right-div header {
  text-align: center;
  color: white;
  font-size: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight:600;
  background-color: #494E6b
}


#palette {
  display: flex;
}

#palette > span {
  flex-grow: 1;
}

span {
  color: white;
}

#stormy {
  background-color: #494E6b;
}

#cloudy {
  background-color: #98878F;
}

#sunset {
  background-color: #985E6D;
}

#evening {
  background-color: #192231;
}

h2 {
  position: relative;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.brief-about {
  overflow-wrap: normal;
}


#in-depth-about {
  color: white;
  background-color: #192231;
}

#in-depth-about p {
  line-height: 1.2;
  max-width: 50ch;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* technology section */

#technology-icons {
  background-color: #98878F;
}

#technology-icons > img {
  vertical-align: middle;
  padding: 2%;
  width: 20%;
  height: auto;
}

/*projects section */


#project-container {
  background-color:#985E6D;
}


.projects li img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  opacity: 1;
}

.projects li section {

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: darkgrey;
  display: none;
  /* justify-content: space-between; */
}

@media screen and (min-width : 768px) {
  .projects > li {
    display: flex;
    /* justify-content: space-between; */
    font-size: 20px;
  }

  .projects li div {
    display: flex;
    justify-content: space-around;
  }


  .projects li .img-container {
    position: relative;
    min-width: 49%;
    min-height:49%;
    border: 1px solid grey;
    padding: .5%;
  }

  .projects li img {
    width: 100%;
    height:100%;
  }

  .overlay a {
    /* margin-top: 30%; */
  }

  .overlay a img {
    margin-top: 80%;
    height: 40%;
    width: auto;
  }




  .img-container:hover .overlay {
    display: flex;
    opacity: 1;
  }

}

/* contact me section */

#contact-section {
  background-color: #192231;
  color: white;
}

aside {
  display: flex;
  justify-content:space-around;
}

#contact-section img {
  height:50px;
  width: 50px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid darkgrey;
  border-radius: 50%;
}

#contact-section div {
  text-align:center;
}
