@import url("reset.css");


/* eggshell: #f5f5f5
stormy greyple: #494E6b
Cloudy beige: #98878F
Sunset... mauve? #985E6D
Evening bluke: #192231 */

html{
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f5f5f5;
  font-family: 'Nunito', sans-serif;
}

@media screen and (min-width : 768px) {
  body {
    display: flex;
  }

  .left-div {
    width: 30%;
    height: 100%;
    position: fixed;
  }

  .right-div {
    margin-left:30%;
    width: 70%;
    height: 100%;
    overflow:auto;
  }

}

.left-div {
  text-align: center;
  background-color: #494E6b;

}

.left-div p {
  color: white;
}

.right-div {
  background-image: url("../images/PP-Windows.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 10px;
}

.right-div > section {
    opacity: .9;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#headshot {
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#palette {
  display: flex;
}

#palette > span {
  flex-grow: 1;
}

span {
  color: white;
}

#stormy {
  background-color: #494E6b;
}

#cloudy {
  background-color: #98878F;
}

#sunset {
  background-color: #985E6D;
}

#evening {
  background-color: #192231;
}

h2 {
  position: relative;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.brief-about {
  overflow-wrap: normal;
}


.in-depth-about {
  color: white;
  background-color: #192231;
}

.in-depth-about p {
  line-height: 1.2;
  max-width: 50ch;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* technology section */

.technology-icons {
  background-color: #98878F;
}

.technology-icons > img {
  /* object-fit: cover; */
  vertical-align: middle;
  padding: 2%;
  width: 20%;
  height: auto;
}
